.part1 {
    background-image:url("images/bg.jpg");	
    background-repeat:no-repeat;
    background-size: 100%;
}
#header { 
    position: fixed;
    display: block;
    max-width: 100%;
    top:0;
    z-index:1000;
}
#wrapper{
    max-width: 1920px;
    margin:0 auto;
    width: 100%;
}



/* These are added to aid in making things mobile responsive */
img {
    width: 100%;
    height: auto;
}
.hidden {
    display: none;
}